p {
  margin: 0;
}
body{
  font-family: Roboto, arial;
  margin: 0;
  padding-top: 65px;
  padding-left: 150px;
  height: 1000px;
  padding-right: 24px;
}
@media(max-width:1259px){
  body{
    padding-left: 80px;
  }
}